<app-cabecalho></app-cabecalho>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Cadastro de Clientes</h3>
        </div>
        <p class="text-center" *ngIf="!processando">Estamos cadastrando o cliente {{cliente.nome}}</p>
        <div class="col-12" *ngIf="processando">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" [(ngModel)]="this.cliente.nome">
            </div>
            <div class="form-group">
                <label>Empresa</label>
                <input type="text" class="form-control" [(ngModel)]="this.cliente.empresa">
            </div>
            <div class="form-group">
                <button class="btn btn-info" (click)="this.cadastar()">
                    Cadastrar
                </button>
                <button class="btn btn-danger ml-2" (click)="voltarParaTelaListagem()">
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>